/* Start Font*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* End Font*/

/* Star Body*/
body {
   color: black;
   font-family: Roboto, Arial, Helvetica, sans-serif; 
   font-size:16px;
   line-height: 1.5cm;
   margin: 0;
   padding: 0;
}
/*End Body*/

/* Start Debug */
.bg-blue{
    background-color: cornsilk;
}
.bg-red{
    background-color: coral;
}
/* End Debug */

/* Start Container */
.container{
    marggin: 10px auto;
    overflow: auto;
    width: 100%;
}

.container-full{
    marggin: 10px auto;
    overflow: auto;
    width: 90%;
}
/* End Container */

/* Start Logo */
.logo{
    text-align: center;
}
/* End Logo */

/* Start Anchor / Hyperlink */
a:link
a:visited {
    color: blue;
    text-decoration: none;
}
a:hover,
a:active {
    color: black;
    text-decoration: underline;
}

/* End Anchor / Hyperlink */

/* Start Menu Primer */
.menu-primer ul {
    background-color: black;
    border-radius: 4px;
    box-shadow: 
        0 3px 5px -1px rgba(0,0,0,.2),
        0 6px 10px 0  rgba(0,0,0,.14),
        0 1px 18px 0  rgba(0,0,0,.12);
}

.menu-primer li {
    border-right: 1px solid #d1d5da;
    display: inline-block;
    margin: 0 -4px
}
.menu-primer a {
    color: #ffffff;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
}
.menu-primer a:hover {
    background-color: #7f7f77;
    color: black;
    text-decoration: none;
}

.menu-primer .active {
    background-color: #ffffff;
    color: black;
    text-decoration: none;
}
/* End Menu Primer */

/* Start Heading*/
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px
}
h1 {
    font-size: 28px
}
h2 {
    font-size: 24px
}
h3 {
    font-size: 18px
}
h4 {
    font-size: 16px
}
h5 {
    font-size: 14px
}
h6 {
    font-size: 12px
}
/* End Heading*/

/*Start Jumbotron*/
.jumbotron {
    background-color: #f6f8fa;
    border: 1px solid #d1d5da;
    border-radius: 4px;
    padding: 20px 0;
}
.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}
/* End Jumbotron* /

/* Start Main */
.main-home-one {
    float: left;
    width: 49.5%;
}

.main-home-two {
    float: right;
    width: 49.5%;
}
.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 140px;
}

.main-home-one{
    float: left;
    overflow: auto;
    width: 70%
}
/* End Main */

/* Start Sidebar */
.sidebar-two {
    float: right;
    overflow: auto;
    width: 29;
}
/* End Sidebar */

/* Start Box */
.box-heading {
    background-color: #f6f8fa;
    border: 1px solid #d1d5da;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}
.box-heading h4 {
    font-size: 14px;
    margin: 0;
}

.box-isi {
    background-color: #ffffff;
    border: 1px solid #eaecef;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
}
/* End Box */

/* Startteks */
/* Start Menu Sekunder */
.menu-sekunder { 
    background-color: #f6f8fa;
    border-bottom: 1px solid #eaecef;
    border-top: 1px solid #eaecef;
    overflow: auto;
    padding: 10px 0;
}
.menu-sekunder h4 {
    font-size: 14px;
    margin: 0 auto;
    text-transfrom: uppercase;
}
.menu-sekunder ul {
    padding: 0;
}
.menu-sekunder li {
    list-style: disc;
}

.menu-sekunderLi a,
.menu-sekunder p {
 font-size: 15px;
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;

}
.menu-sekunder-one {
    width: 40%;
}
.menu-sekunder-two
.menu-sekunder-two{
    width: 30;
}
.menu-sekunder Li img {
    vertical-align: middle;
}
/* End Menu Sekunder */




